body {
    background-color: #fafafa;
    color: #333;
    font-family: "Ubuntu";
    font-weight: 300;
}

a,
a:visited,
a:focus {
    text-decoration: none;
}

header,
footer {
    margin: 15px 0;
}

footer p {
    font-size: 15px;
}

.section-extremes,
.section-graph {
    margin: 20px 10% 40px;
}

.section-graph h2 {
    font-size: 24px;
    text-align: center;
}

.section-extremes strong {
    color: #337ab7;
}

.graph-canvas {
    width: 100% !important;
    height: 350px;
}
