<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Launchpad karma for user {{ user }}</title>

    <script src="{{ resource_proto }}//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" defer></script>
    <script src="plot.js" defer></script>

    <link rel="stylesheet" type="text/css" href="{{ resource_proto }}//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ resource_proto }}//fonts.googleapis.com/css?family=Ubuntu:300,500">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body>
    <header>
      <div class="container">
        <h1 class="title text-center">
          Launchpad karma for user
          <a href="https://launchpad.net/~{{ user }}">{{ user }}</a>
        </h1>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="section-extremes">
          <p class="text-center">
            Maximum:
            <strong>{{ extremes.max.value }}</strong>
            on
            <strong>{{ extremes.max.date }}</strong>
          </p>
          <p class="text-center">
            Minimum:
            <strong>{{ extremes.min.value }}</strong>
            on
            <strong>{{ extremes.min.date }}</strong>
          </p>
        </div>

        {% for graph in graphs %}
        <section class="section-graph">
          <h2>{{ graph.label }}</h2>
          <figure class="graph">
            <canvas id="{{ graph.id }}" class="graph-canvas"></canvas>
          </figure>
        </section>
        {% endfor %}
      </div>
    </main>
    <footer>
      <div class="container">
        <p class="text-center">
          Generated with
          <a href="https://bitbucket.org/ack/launchpad-karma">launchpad-karma</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
